body{
    background: #ededed;
}
/*===================================*/
		/*Menu*/
/*===================================*/


.navbar{
  transition: all .5s ease-in-out;
}
.jobs-top-nav{
  background: transparent;
}
.job-nav{
  background: #277DC7;
  top: 0%;
  padding: 0 40px;
}
.navbar-nav{
  float: right;
}
.navbar-nav > li > a{
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
  background: none;
  color: #34c6d3;
}
.navbar-toggle{
  background-color: rgba(0,0,0,0.1);
  border: 1px solid #fff;
  border-radius: 0;
}
.navbar-toggle .icon-bar{
  background-color: #fff;
}
.navbar-collapse{
  max-height: none !important;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li{
    background: #277dc7;
    color: #fff;
    font-size: 14px;
  text-transform: uppercase;
    
  border-radius: 5px;
}
.dropdown-menu > li > a{
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 10px;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
    background: #277dc7;
    color: #34c6d3;
    letter-spacing: 1px;
    font-weight: 700;
  border-radius: 5px;    
} 

ul li ul.dropdown-menu{
    /*min-width: 100%;  Set width of the dropdown */
    background: none;
    display: none;
    position: absolute;
    z-index: 999;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
    left: 0;
}
ul li:hover ul.dropdown-menu{
    display: block; /* Display the dropdown */
    background-color: #277DC7;
}
ul li ul.dropdown-menu li{
    display: block;
}



/*=======divider */
.dropdown-menu .divider{ margin: 0; padding: 0; }

/*===================================*/
        /*search menu css*/
/*===================================*/

#search-menu{
    color: black;
    margin-top: 70px;
    background: #fff;
    border: 5px solid #fff;
    border-radius: 10px;
}


#search-menu{
    color: black;

}

.flex-column li{
    background: #fff !important;
}

.flex-column li a{
    display: block;
}
.flex-column li a:hover{
    background: #206593;
    color: #fff;
}
.nav .flex-column .open>a, .nav .open>a:active, .nav .open>a:focus, .nav .open>a:hover{
    background: #206593;
    color: #fff;
    
}

ul.dropdown-menu.myDropdown{
    margin-left: 211px;
    margin-top: -41px;
}


.modal-body ul li{
    background: #fff;
    color: black;
    text-transform: uppercase;
 }

.modal-body ul li a{
    color: black;
    
}


#searchbar{
    padding: 8px;
}

#mybtn{
    background: transparent; 
    border: 1px solid #34C6D3; 
    margin-right: 20px;
    box-shadow: red;
}

#mybtn:hover{
    background: #34C6D3;
    color: #fff; 
}
/*#mybtn a:hover{background: #669999; }*/

/*worker profile item*/

#worker-profile-item{
    background: #fff;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}

#side-menu{
    border-right: 3px solid #ededed;
}

#card{
    margin: 10px
}

#card-body{
    background: #fff;
    border: 1.5px solid #ededed;
    border-radius: 5px;
    padding: 10px;
    
}

#btn{
    
}
