body{
    background: #ededed;
}
/*-------Recent Posted Jobs---------*/

#work-block{
    color: #fff;
	margin: 0 0 30px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
	background: #fff;
    font-family: Times New Roman;
    border-radius: 3px 20px;
}

.work-link{
    color:black;
	text-decoration:none;
}

.work-link:hover{
    text-decoration: none;
    color:gray;
}
#banner{
	text-align: center;
    background: #fff;
	margin-top:60px;
}
#posted-job{
	color: #000;
}